@page "/carinfo"

@using Data
@using BlazorServer.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config

<h3>Details about car chosen</h3>




@if (CarInfo == null){
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var p in CarInfo)
    {
        <p>
            @p.Car_Image
            @p.Car_Make, @p.Car_Series, @p.Car_Type
            @p.Car_Cost
        </p>
    }
}
@code {
    int car_id;
    List<CarModel> CarInfo;
    protected override async Task OnInitializedAsync() {
        string sql = "select * from Cars where Car_ID = @car_id;";

        CarInfo = await _data.LoadData<CarModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }
}