@page "/carinfo/{cars_id}"

@using Data
@using BlazorServer.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config
@inject NavigationManager NavManager
<h3>Details about car chosen</h3>



<div class="cars_to_display">
@if (CarInfo == null){
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var p in CarInfo)
    
    {
        <h1> @p.Car_Make, @p.Car_Series</h1>
        <p>
            <br>
            Car Type: @p.Car_Type
            <br>
            Cost: £@p.Car_Cost
        </p>
        <button onclick="@financecar" >Finance Car</button>
        <button onclick="@buycar">Buy Car</button>
    }
    
}
</div>
@code {
    [Parameter]public string cars_id { get; set; }

    List<CarModel> CarInfo;
    protected override async Task OnInitializedAsync() {
        string sql = "select * from Car where Car_ID = @cars_id;";

        CarInfo = await _data.LoadData<CarModel, dynamic>(sql, new { cars_id = @cars_id}, _config.GetConnectionString("default"));
    }
    private async Task financecar()
    {
        NavManager.NavigateTo("/pay");
    }
    private async Task buycar()
    {
        NavManager.NavigateTo("/buy/{cars_id}");
    }
}